/*For All Block*/
#block{
    margin: 0 auto;
    border: 3px solid darkblue;
    padding: 20px;
    background: #7fb8ea;
}
input{
    border-radius: 5px;
    font-size: 25px;
    height: 50px;
}
input[type='submit'] {
    width: 130px;
    background: #0093ff;
    color: white;
    font-weight: bold;
}

/*CSS For Name Submission Block*/
.submissionBlock{
    width: 350px;
}
input[name='userName']{
    width: 100%;
    text-align: center;
    border: 1px solid darkblue;
}
input[name='submit']{
    margin: 10px 120px;
}


/*CSS For Chatting Block-*/
.chattingBlock{
    width: 500px;
}
.chattingBlock p{
    font-size: 20px;
}

#welMassage{
    float: left;
}
#logOut{
    float: right;
}
#logOut a{
    text-decoration: none;
}
input[name='massage']{
    width: 355px;
}
input[name='send']{
    margin: 0 0 0 5px;
}
#chattingText{
    height: 400px;
    width: 480px;
    background: #e0eaec;
    padding: 10px;
    font-size: 20px;
}
#autoReload{
    float: left;
}
#autoReloadText{
    font-size: 16px;
    padding: 3px 0px 0px 35px;
}